{% load static %}
<section id="doctors" class="doctors section">
  <div class="container section-title" data-aos="fade-up">
    <h2>Doktorlarimiz</h2>
  </div><div class="container">
    <div class="row gy-4">
      {% for doctor in doctors %}
      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
        <div class="team-member d-flex align-items-start">
          <div class="pic">
            {% if doctor.image %}
              <img src="{{ doctor.image.url }}" class="img-fluid" alt="{{ doctor.name }}">
            {% else %}
              <img src="{% static 'img/doctors/doctors-1.jpg' %}" class="img-fluid" alt="default">
            {% endif %}
          </div>
          <div class="member-info">
            <h4>{{ doctor.full_name }}</h4>
            <span>{{ doctor.specialty }}</span>
            <div class="social">
              <a href=""><i class="bi bi-twitter-x"></i></a>
              <a href="{{ doctor.facebook_url|default:'#' }}"><i class="bi bi-facebook"></i></a>
              <a href="{{ doctor.instagram_url|default:'#' }}"><i class="bi bi-instagram"></i></a>
              <a href="{{ doctor.linkedin_url|default:'#' }}"> <i class="bi bi-linkedin"></i> </a>
            </div>
          </div>
        </div>
      </div>{% empty %}
      <div class="col-12 text-center">
        <p>Hesh qanday magliwmat joq!</p>
      </div>
      {% endfor %}

    </div>
  </div>
</section>